.login{  
    background: #F8F8FE;
    height: 60%px;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
    height: 300px;
    border: 3px solid #f1f1f1;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  
  button {
    background-color: #527D96;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
  }
  
  button:hover {
    opacity: 0.8;
  }

  /* .Toastify__toast {
    width: 500;
  } */